/* Default Button Styling */
.default-filter {
    
    background: #050709;
    color: #fff;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  
  /* Active Button Styling */
  .active-filter {
    background: linear-gradient(
      260deg,
      var(--theme-primary) 0%,
      var(--theme-secondary) 100%
    );
    color: #fff;
    border-radius: 30px;
    border: none;
  }
  
  /* Reusable Custom Background */
  .custom-bg {
    transition: all 0.3s ease;
  }
  .work-item{
    border-radius: 10px;
    background: #140c1c;
  }
  .titlebox p{
    margin: 0px;
  }
  .titlebox {
 
    width: calc(100% - 40px);
    border-radius: 15px;
    margin: 0 auto;
    right: 0;
    padding: 20px;
   
    opacity: 1;
    visibility: visible;
  
    transition: 0.3s;
    background: linear-gradient(260deg, var(--theme-primary) 0%, var(--theme-secondary) 100%);

}
/* .work-item:hover .titlebox{
  position: absolute;
     bottom: 15px;
    left: 0;
   
    width: calc(100% - 40px);
    border-radius: 15px;
    margin: 0 auto;
    right: 0;
    padding: 20px;
    padding-right: 50px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(15px);
    -ms-transform: translateY(15px);
    transform: translateY(15px);
    background: linear-gradient(260deg, var(--theme-primary) 0%, var(--theme-secondary) 100%);

} */
